<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="component-a">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `component-a`
     * &#39;Componente padre&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentA extends Polymer.Element {
      static get is() { return 'component-a'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'component-a'
          }
        };
      }
    }

    window.customElements.define(ComponentA.is, ComponentA);
  </script>
</dom-module>
