<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../component-b/component-b.html">
<link rel="import" href="../component-c/component-c.html">

<dom-module id="component-a">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <template is="dom-if" if="[[componenteA]]">
      <h1>Título</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


      <paper-button raised on-click="eventComponentB">Ver Componente B</paper-button> <!--lista-->
      <paper-button raised on-click="eventComponentC">Ver Componente C</paper-button> <!--tabla-->

    </template>

    <template is="dom-if" if="[[componenteB]]">
      <h2>Componente B</h2>
      <component-b></component-b>
    </template>

    <template is="dom-if" if="[[componenteC]]">
      <h2>Componente C</h2>
      <component-c c1="Columna titulo 1" c2="Columna titulo 2" c3="Columna titulo 3"></component-c>
    </template>




  </template>

  <script>
    /**
     * `component-a`
     * &#39;Componente padre&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentA extends Polymer.Element {
      static get is() { return 'component-a'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'component-a'
          },
          componenteA:{
            type: Boolean,
            value: true
          },
          componenteB: {
            type: Boolean,
            value: false
          },
          componenteC: {
            type: Boolean,
            value: false
          }
        };
      }

      eventComponentB(){
        this.componenteB = true;
        this.componenteA = false;
      }

      eventComponentC(){
        this.componenteC = true;
        this.componenteA = false;
      }

    }

    window.customElements.define(ComponentA.is, ComponentA);
  </script>
</dom-module>
